$mustard_yellow: #f2ac04;
$yellow: #f8d277;
$light_gray: #ababab;
$dark_gray: #3c3c3c;
.head_line{
	width: 100%;
	height: 8px;
	background-color: $mustard_yellow;
	margin-bottom: 40px;
}
header{
	margin-bottom: 40px;
}
a{
	color: $dark_gray;
}
a:hover{
	color: black;
}
.circle{
	width: 55px;
	height: 55px;
	border-radius: 50%;
}
.front{
	background-color: $mustard_yellow;
	transform: translate(-70%);
}
.back{
	background-color: $yellow;
}
.logo{
	display: flex;
	transform: translate(15%);
}
.brand{
	display: flex;
	align-items: center;
}
.navbar-brand{
	font-size: 2rem;
}
.caps{
	text-transform: uppercase;
	color: $mustard_yellow;
	font-size: 1.5rem;
}
.low_case{
	color: $light_gray;
}
.vertical_line{
	border-right: 1px solid $light_gray;
}
.nav_menu{
	border-top: 1px solid $light_gray;
	border-bottom: 1px solid $light_gray;
	margin-bottom: 40px;
}
.nav{
	justify-content: space-around;
}
.prod_link{
	display: flex;
	flex-direction: column;
	padding-top: 25px;
}
.card_button{
	display: flex;
	justify-content: flex-end;
}
.borderline{
	height: 1px;
	background-color: $light_gray;
	margin-top: 40px;
	margin-bottom: 40px;
}
.about{
	display: flex;
	flex-direction: column;
	border-left: 1px solid $light_gray;
	border-right: 1px solid $light_gray;
	button{
		align-self: flex-end;
	}
}
.contact{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
	.icon{
		width: 25%;
		display: flex;
		justify-content: center;
	}
}
.phone, .fax, .email{
	border-bottom: 1px dotted $light_gray; 
}
.day{
	color: $mustard_yellow;
	font-weight: bold;
	font-size: 2rem;
}
.month{
	color: $light_gray;
	text-transform: uppercase;
}
.date{
	border-right: 1px solid $light_gray;
	margin-right: 15px;
	padding-right: 15px;
}
.news_card{
	display: flex;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px dotted $light_gray;
}
.client{
	display: flex;
	justify-content: center;
}
.lower_logo{
	display: flex;
	justify-content: center;
}
.footer_nav{
	margin-top: 40px;
	margin-bottom: 40px;
	li{
		border-right: 1px solid $light_gray;
		a{
			text-transform: uppercase;
		}
	}
}
.footer_nav :last-child{
	border-right: none;
}
.footer_menu{
	display: flex;
	justify-content: center;
}
.copyright{
	display: flex;
	justify-content: center;
}